/* || GLOBAL */
:root {
  --bg-wrapper-one: #849d8f;
  --bg-wrapper-two: #8996a6;
  --bg-wrapper-three: #9d8b84;
  --main-color: #ffffff;
  --main-color-dark: #323232;
  --nav-btn-active: #ededed;
  --nav-btn-active-shadow: #696969;
  --submenu-hover: #fbded7;
  --submenu-active: #f6b5a5;
  --transparent-full: transparent;
  --transparent-light: rgba(255, 255, 255, 0.2);
  --transparent-hard: rgba(255, 255, 255, 0.8);
  --transparent-half: rgba(49, 50, 53, 0.5);
  --sub-menu-divider: rgba(50, 50, 50, 0.2);
  --light-link-hover: #ffbc9e;
  --light-link-underline: rgba(255, 188, 158, 0.3);
  --dark-link-hover: #e84d37;
  --dark-link-underlne: rgba(232, 77, 55, 0.3);
  --subscribe-letter: #5a5a5a;
  --btn-grad-from: #f26843;
  --btn-grad-to: #e74a35;
  --btn-shadow: rgba(85, 8, 0, 0.54);
  --btn-hover-shadow: #ac1000;
  --btn-active-shadow: #942718;
  --btn-text-shadow: rgba(160, 32, 11, 0.76);
  --subscribe-bg: #f8f7f4;
  --icon-border: rgba(255, 255, 255, 0.5);
  --icon-border-hover: rgba(255, 255, 255, 0.7);
  --current-page-bg: #d07058;
  --input-border: rgba(178, 178, 178, 0.52);
  --input-border-focus: rgba(46, 136, 228, 0.52);
  --input-shadow: rgba(0, 0, 0, 0.4);
  --cart-divider: #cacac7;
  --cart-price: #999999;
  --catalog-hover-shadow: rgba(0, 0, 0, 0.2);
  --price-slider-range: rgba(248, 247, 244, 0.5);
  --price-slider-pin: #ababab;
  --main-slider-hover: rgba(255, 255, 255, 0.4);
  --location-bg: rgb(236, 229, 200);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Verdana, sans-serif;
  color: var(--main-color);
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

.wrapper-catalog {
  min-width: 1200px;
  background-color: var(--bg-wrapper-one);
}

.wrapper-main {
  min-width: 1200px;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 100vh;
}

.wrapper-one {
  background-color: var(--bg-wrapper-one);
  background-image: url("../img/main-slide-3.png");
}

.wrapper-two {
  background-color: var(--bg-wrapper-two);
  background-image: url("../img/main-slide-2.png");
}

.wrapper-three {
  background-color: var(--bg-wrapper-three);
  background-image: url("../img/main-slide-3.png");
}

.container {
  width: 1146px;
  margin: 0 auto;
}
/* || Page layout */
body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.index-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

/* || UTILITIES */
ul.no-bullets {
  list-style: none;
  padding: 0;
}

.basic-link-light {
  color: var(--main-color);
  text-decoration: underline;
  text-decoration-color: var(--transparent-light);
}
.basic-link-light:hover,
.basic-link-light:active {
  color: var(--light-link-hover);
}
.basic-link-dark {
  color: var(--main-color-dark);
}
.basic-link-dark:hover,
.basic-link-dark:active {
  color: var(--dark-link-hover);
  text-decoration: underline;
  text-decoration-color: var(--dark-link-underlne);
}
.link-disabled,
.button-disabled,
.input-disabled {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

.basic-button {
  display: inline-block;
  vertical-align: middle;
  border: none;
  padding: 12px 22px 12px;
  background: linear-gradient(
    180deg,
    var(--btn-grad-from) 0%,
    var(--btn-grad-to) 100%
  );
  box-shadow: 0px 2px 2px var(--btn-shadow);
  background-repeat: repeat;
  text-decoration: none;
  border-radius: 70px;
  font-size: 18px;
  line-height: 24px;
  color: var(--main-color);
  text-shadow: 0px 2px 5px var(--btn-text-shadow);
  font-weight: 700;
}
.basic-button:hover {
  background: linear-gradient(
      0deg,
      var(--transparent-light),
      var(--transparent-light)
    ),
    linear-gradient(180deg, var(--btn-grad-from) 0%, var(--btn-grad-to) 100%);
  box-shadow: 0px 2px 2px var(--btn-hover-shadow);
  cursor: pointer;
}
.basic-button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(180deg, var(--btn-grad-from) 0%, var(--btn-grad-to) 100%);
  box-shadow: inset 0px 2px 2px var(--btn-active-shadow);
}

.basic-form {
  background: var(--subscribe-bg);
  box-shadow: 0px 20px 20px var(--input-shadow);
  border-radius: 4px;
}
.basic-input {
  min-height: 44px;
  padding-left: 14px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  outline: none;
}
.basic-input:hover {
  padding-left: 13px;
  border: 2px solid rgba(178, 178, 178, 0.52);
}
.basic-input:focus {
  padding-left: 13px;
  border: 2px solid var(--input-border-focus);
  outline: none;
}

.basic-input::placeholder {
  font-size: 14px;
  color: var(--cart-price);
}

.pop-up-trigger {
  position: relative;
}
.pop-up {
  display: none;
  position: absolute;
  z-index: 99999;
}
.pop-up-trigger:hover .pop-up {
  display: block;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* || HEADER */
.header-logo {
  width: 154px;
  height: 64px;
  margin-right: 10px;
}
.header-top {
  display: flex;
  min-height: 67px;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 9px;
}
/* \ main-nav */
.header nav {
  margin-right: auto;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 13px;
}

.main-nav-item {
  margin-right: 5px;
  padding-bottom: 8px;
}

.main-nav-item > a {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 14px 7px;
  /* padding-top: 9px;
  padding-bottom: 11px;
  padding-right: 9px 13px;
  padding-left: 9px 13px; */
  line-height: 18px;
  font-weight: 700;
}

.main-nav-item > a:hover,
.main-nav-item > a:focus {
  background-color: var(--main-color);
  color: var(--main-color-dark);
  border-radius: 26px;
  text-decoration: none;
}

.main-nav-item > a:active {
  border-radius: 26px;
  background: var(--nav-btn-active);
  box-shadow: inset 0px 2px 1px var(--nav-btn-active-shadow);
  text-decoration: none;
}
/* \ sub-menu */
.sub-menu {
  top: 40px;
  left: -7px;
  width: 143px;
  height: 171px;
  border-radius: 4px;
  background-color: var(--main-color);
}

.sub-menu a {
  display: block;
  color: var(--main-color-dark);
  text-decoration: none;
  padding: 7px 0 8px 21px;
  font-size: 14px;
  line-height: 16px;
}
.sub-menu a:hover {
  background-color: var(--submenu-hover);
}
.sub-menu a:active {
  background-color: var(--submenu-active);
}
/* \\ новинки */
.sub-menu-item:first-child a {
  font-weight: 700;
  position: relative;
  padding-top: 10px;
  padding-bottom: 15px;
  line-height: 18px;
  border-radius: 4px;
}
.sub-menu-item:first-child a:hover {
  background-color: white;
}
/* \\ sub-menu divider */
.sub-menu-item:first-child a::after {
  content: "";
  position: absolute;
  width: 128px;
  height: 1px;
  background-color: var(--sub-menu-divider);
  z-index: 2;
  top: 37px;
  left: 6px;
}

/* \ header-btns */
.header-btns {
  display: flex;
  flex-wrap: wrap;
  min-width: 244px;
  min-height: 36px; /* чтобы попапы при ховере не пропадали из-за пустого места между кнопками и попапом */
  margin: 0;
  margin-top: 14px;
}

.header-btns li:not(:last-child) {
  margin-right: 10px;
}

.header-btn-item {
  display: block;
  background-color: var(--transparent-light);
  padding: 8px 16px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--main-color);
  border-radius: 30px;
}

.header-btn-item:first-child {
  padding: 8px;
}

.header-btn-item svg {
  fill: var(--main-color);
}

.header-btn-item:hover svg {
  fill: var(--main-color-dark);
}
/* \\ search */
.search-link {
  width: 32px;
  height: 32px;
}

/* \\ login */
.login-link {
  position: relative;
  min-width: 92px;
  height: 32px;
  display: flex;
  justify-content: space-around;
}
.login-link span {
  transform: translate(-2px, 1px);
}
.login-link .icon {
  transform: translate(3px, -2px);
}
.login-links-wrapper a:hover {
  color: var(--dark-link-hover);
}

/* \\shopping-cart */
.shopping-cart {
  position: relative;
  min-width: 100px;
}
.shopping-cart::before {
  display: block;
  position: absolute;
  content: "";
  width: 21px;
  height: 20px;
  background: url("../img/icons/basket.svg");
  top: 6px;
  left: 16px;
}
.shopping-cart a {
  padding-left: 45px;
}

.shopping-cart span {
  display: block;
  position: relative;
  top: 1px;
}

/* \\\ empty-cart */
.header-btn-item:hover:not(.shopping-cart-link) {
  color: var(--main-color-dark);
  background-color: var(--main-color);
}

/* \\ header-btns pop-ups */
.header-btns .pop-up {
  right: 0;
  top: 36px;
}

.search-form,
.login-form,
.cart-full .pop-up {
  background: var(--subscribe-bg);
  box-shadow: 0px 20px 20px var(--input-shadow);
  border-radius: 4px;
}
.search-form input,
.login-form input {
  width: 100%;
}

.search-form input:focus,
.login-form input:focus {
  line-height: 22px;
  font-weight: 700;
}
.search-form input:focus::placeholder,
.login-form input:focus::placeholder {
  font-weight: 400;
}
/* \\\ search pop-up */
.search-form {
  min-width: 341px;
  padding: 20px 15px;
}

/* \\\ login */
.login-form {
  min-width: 277px;
  min-height: 214px;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-right: 17px;
  padding-left: 19px;
}
.login-bottom-wrapper {
  display: flex;
  justify-content: space-between;
}
.login-links-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.login-form input {
  min-width: 241px;
  margin-bottom: 20px;
}
.login-form button {
  padding: 9px 26px 9px;
  outline: none;
  text-shadow: none;
}
.login-links-wrapper a {
  font-size: 13px;
  line-height: 15px;
  color: var(--main-color-dark);
}

/* \ header-info */
.header-bottom {
  display: flex;
  justify-content: space-between;
}

.header-bottom-main {
  justify-content: flex-end;
}

.phone-hours-wrapper {
  font-weight: 700;
  text-align: right;
}
.header-work-hours {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 16px;
}

.header-phone {
  font-size: 22px;
  line-height: 24px;
  color: var(--main-color);
  text-decoration: none;
}

/* \ header-btn-items-pop-ups */
/* || Slider */
.main-visual {
  position: relative;
  margin-bottom: 40px;
  padding-top: 273px;
}

.main-visual-slider {
  list-style: none;
  padding: 0;
  margin: 0;
}
.slider-item {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.slider-item.slide-current {
  display: block;
}

.slider-item h3 {
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}

.slider-item .basic-button {
  font-size: 32px;
  line-height: 44px;
  padding: 9px 40px 10px;
}

.slider-btns {
  width: 79px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 24px;
}

.slider-btn-item {
  width: 20px;
  height: 20px;
  background-color: var(--transparent-full);
  border: 2px solid var(--main-color);
  border-radius: 50%;
  cursor: pointer;
}

.slider-btn-item:hover {
  background-color: var(--main-slider-hover);
}

.slider-btn-item:active {
  background-color: var(--main-color);
}

.slider-btn-item:focus {
  outline: none;
  box-shadow: 0 0 2px 2px var(--input-border-focus);
}

.slider-btn-current {
  background-color: var(--main-color);
}

/* || Advantages sections */
.advantages-row {
  margin-bottom: 40px;
}
.advantages {
  position: relative;
  width: 560px;
  height: 229px;
  border-radius: 16px;
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 30px;
}

.advantages h2 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.advantages p {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.advantages .basic-button {
  position: absolute;
  bottom: 22px;
  right: 22px;
}

.advantages-raspberries {
  background-color: var(--btn-shadow);
  background: url("../img/bg/raspberries-bg.jpg");
}

.advantages-chocolate {
  background-color: var(--main-color-dark);
  background: url("../img/bg/chocolate-bg.jpg");
}
/* || PRODUCT CARDS */
.assortment {
  margin-bottom: 40px;
}
.assortment ul {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 26px;
  row-gap: 40px;
}

.assortment-item,
.assortment-hit {
  position: relative;
  width: 267px;
  min-height: 320px;
}
.item-img-box {
  display: block;
  width: 267px;
  height: 267px;
  border-radius: 50%;
  margin-bottom: 13px;
  overflow: hidden; /* белые края */
}

.assortment-item img {
  border-radius: 50%;
  width: 268px;
  height: 268px;
  background-color: var(--main-color-dark);
}

.assortment-hit::before {
  display: block;
  position: absolute;
  content: "";
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background: url("../img/icons/hit.svg");
}

.assortment-price {
  position: absolute;
  top: 208px;
  left: 0;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px var(--transparent-half);
}

.assortment-descr {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.assortment-price span {
  font-size: 30px;
  line-height: 35px;
}

.pop-up-trigger:hover .fast-view.pop-up {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -6px;
  left: -13px;
  z-index: 999;
  padding-top: 60px;
  padding-bottom: 21px;
  padding-right: 13px;
  padding-left: 13px;
  background-color: var(--transparent-light);
  box-shadow: 0px 20px 20px var(--catalog-hover-shadow);
  border-radius: 4px;
}

/* || ABOUS US */
.about-us {
  min-width: 100%;
  min-height: 306px;
  border-radius: 16px;
  background-color: var(--submenu-hover);
  background: url("../img/bg/waffle-bg.jpg") repeat;
  color: var(--main-color-dark);
  padding: 24px 23px 30px 20px;
  margin-bottom: 40px; /* DELETE! */
}

.about-us .about-us-layout {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 31px;
  row-gap: 22px;
}

.about-us-heading {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.about-us-item {
  position: relative;
  padding-left: 55px;
}

.about-us-item p {
  margin: 0;
}

.about-us-item::before {
  display: block;
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  top: -9px;
  left: -1px;
}

.about-us-item:nth-child(1)::before {
  background-image: url("../img/icons/ice-cream.svg");
}
.about-us-item:nth-child(2)::before {
  background-image: url("../img/icons/cow.svg");
}
.about-us-item:nth-child(3)::before {
  background-image: url("../img/icons/eco.svg");
}
.about-us-item:nth-child(4)::before {
  background-image: url("../img/icons/thermometer.svg");
}

/* || TYPES OF SERVING */
.servings-row {
  margin-bottom: 40px;
}
.types-of-serving {
  width: 560px;
  height: 220px;
  padding: 18px 20px;
  border-radius: 16px;
  background-color: var(--main-color);
  background: url("../img/bg/strawberry-bg.jpg");
}

.types-of-serving h3 {
  margin: 0;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--main-color-dark);
}

.types-of-serving a {
  display: inline-block;
  vertical-align: middle;
  max-width: 287px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--main-color-dark);
}

.types-of-serving a:hover {
  color: var(--dark-link-hover);
  text-underline-color: var(--dark-link-underlne);
}

/* || Subscribe */
.subscribe {
  width: 560px;
  height: 220px;
  border-radius: 16px;
  background: url("../img/bg/subscribe-bg.png");
  overflow: hidden;
  padding: 5px;
}
.subscribe-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 210px;
  background-color: var(--subscribe-bg);
  border-radius: 16px;
  padding-top: 24px;
  padding-left: 21px;
  padding-right: 16px;
  padding-bottom: 35px;
}

.subscribe p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: var(--subscribe-letter);
}

.send-form {
  display: flex;
  justify-content: space-between;
}

.send-form input {
  min-width: 368px;
  padding-left: 14px;
  /* margin-right: 6px; */
}

.send-form button {
  padding: 10px 19px 10px;
  margin-right: 4px;
}
/* \ subscription form */
.subscription-form {
  display: none; /* DELETE */
  margin: 10px 0; /* DELETE */
  outline: none;
}
.subscription-form form {
  position: relative;
  width: 477px;
  min-height: 441px;
  padding-top: 20px;
  padding-left: 23px;
  padding-bottom: 27px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--subscribe-bg);
}
.subscription-form h3 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: var(--main-color-dark);
}
.subscription-form input[type="text"],
.subscription-form input[type="email"] {
  min-width: 267px;
}

.subscription-form textarea {
  padding: 15px;
  min-width: 428px;
  min-height: 154px;
}

.subscription-form textarea:hover,
.subscription-form textarea:focus {
  padding-top: 14px;
  padding-left: 14px;
}
.subscription-form button[type="button"] {
  width: 23px;
  height: 23px;
  align-self: flex-end;
  position: relative;
  background-color: var(--transparent-full);
  border: none;
  cursor: pointer;
}

.subscription-form button[type="button"] {
  outline-color: var(--input-border-focus);
}
.subscription-form button[type="button"]::before {
  content: "";
  display: block;
  width: 3px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 10px;
  background-color: var(--main-color-dark);
  transform: rotate(45deg);
}
.subscription-form button[type="button"]::after {
  content: "";
  display: block;
  width: 3px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 10px;
  background-color: var(--main-color-dark);
  transform: rotate(-45deg);
}
.subscription-form button[type="submit"] {
  align-self: flex-end;
}

/* || OUR LOCATION */
.our-location {
  position: relative;
  min-width: 100%;
  min-height: 430px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.our-location::before {
  display: block;
  content: "";
  width: 1200px;
  height: 430px;
  position: absolute;
  left: -27px;
  background-image: url("../img/bg/map-bg.jpg");
  background-color: var(--location-bg);
}
.our-location::after {
  display: block;
  content: "";
  width: 80px;
  height: 140px;
  position: absolute;
  top: 136px;
  left: 240px;
  background-image: url("../img/icons/pin.svg");
}

/* \\ location-window */

.our-location-wrapper {
  position: relative;
  width: 303px;
  height: 306px;
  padding: 30px 25px;
  border-radius: 16px;
  background-color: var(--main-color);
  color: var(--main-color-dark);
  font-size: 14px;
  line-height: 20px;
}

.our-location p {
  margin: 0;
}

.our-location b {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 22px;
}

.our-location .location-phone {
  margin-bottom: 28px;
}

.location-phone a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.our-location button {
  padding: 10px 28px;
}

/* || FOOTER */
.footer {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  border-top: 1px solid var(--transparent-light);
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer a {
  font-size: 13px;
  line-height: 18px;
}
/* \ social */
.footer .social-icons {
  min-width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 23px;
}
.footer .social-icons-item {
  width: 36px;
  height: 36px;
}

.social-icons-item .icon {
  fill: var(--transparent-hard);
  border-radius: 50%;
  border: 2px solid var(--icon-border);
}

.social-icons-item .icon:hover {
  fill: var(--main-color);
  border: 2px solid var(--icon-border);
}

.social-icons-item .icon:active {
  fill: var(--main-color);
  border: 2px solid var(--icon-border-hover);
}
/* \\ footer-nav */
.footer-nav {
  width: 304px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-nav-item:first-child {
  position: relative;
}

.footer-nav-item:first-child::before {
  display: block;
  position: absolute;
  content: "";
  width: 15px;
  height: 13px;
  background: url("../img/icons/heart.svg");
  left: -20px;
  top: 6px;
}

.footer-nav-item:first-child .basic-link-light {
  font-weight: 700;
}

.footer-nav-item:nth-child(2) {
  margin-right: 55px;
}

.footer-nav a:hover,
.footer-copyright a:hover {
  color: var(--light-link-hover);
  text-decoration: underline;
  text-decoration-color: var(----light-link-underline);
}

/* \\ copyright */
.footer .footer-copyright {
  position: relative;
  bottom: 2px;
}
.footer-copyright img {
  width: 108px;
  height: 39px;
}
.footer-copyright p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright a {
  font-size: 12px;
  line-height: 18px;
}

/* ---- || CATALOG || ----- */
/* // MAIN NAV */
.current-page {
  background-color: var(--current-page-bg);
  color: var(--main-color);
  border-radius: 26px;
  text-decoration: none;
}

.current-sub-page {
  background-color: var(--current-page-bg);
}
/* HEADER BTNS */
.cart-full .pop-up {
  display: block; /* DELETE */
}
.cart-full {
  font-size: 13px;
  line-height: 16px;
  color: var(--main-color-dark);
}
.cart-full .shopping-cart-link {
  min-width: 118px;
  background-color: var(--main-color);
  color: var(--main-color-dark);
}

.shopping-cart.cart-full::before {
  background: url("../img/icons/basket-red.svg");
  top: 5px;
  left: 15px;
}
.cart-full a {
  padding-left: 44px;
}
/* \\ cart form */
.cart-full .pop-up {
  min-width: 540px;
  min-height: 242px;
  padding-top: 20px;
  padding-right: 14px;
  padding-bottom: 20px;
  padding-left: 16px;
  background-color: var(--subscribe-bg);
}

.cart-full table {
  border-collapse: separate;
  border-bottom: 1px solid var(--cart-divider);
  width: 100%;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.cart-row {
  padding: 0 0 15px;
  outline: 2px solid red;
  outline-offset: 2px;
}

.cart-delete-item {
  text-align: center;
}
.cart-delete-item:hover,
.cart-delete-item:hover > * {
  cursor: pointer;
}
.cart-delete-item button {
  border: none;
  background-image: url("../img/icons/cross-small.svg");
  background-repeat: no-repeat;
  background-color: var(--subscribe-bg);
  width: 11px;
  height: 11px;
}
.cart-full-item:first-child .delete-cart-item {
  position: relative;
  bottom: 8px;
}
.cart-image {
  min-width: 33px;
  text-align: center;
}

.cart-image img {
  display: inline-block;
  vertical-align: top;
  width: 33px;
  height: 33px;
  padding: 0;
  border-radius: 50%;
}

.cart-item-title {
  width: 220px;
}
tr:last-child .cart-item-title {
  padding-top: 10px;
}

.cart-amount {
  width: 144px;
  text-align: center;
}
.cart-amount .price-gray {
  color: var(--cart-price);
}
.cart-amount span {
  display: inline;
}
.cart-bottom-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.cart-bottom-wrapper .price-total {
  margin-bottom: 18px;
  font-size: 15px;
  font-weight: 700;
}

.cart-bottom-wrapper .order-btn {
  line-height: 16px;
  padding-right: 16px;
  padding-left: 16px;
}
/* || BREADCRUMBS */
.breadcrumbs {
  align-self: center;
  padding-top: 15px;
}
.breadcrumbs ul {
  display: flex;
  justify-content: flex-start;
  min-width: 222px;
  margin: 0;
  position: relative;
  top: -4px;
}

.breadcrumbs-item a {
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs-item:not(:last-child) a {
  margin-right: 22px;
  border-bottom: 1px solid var(--transparent-light);
  text-decoration: none;
}

.breadcrumbs-item {
  position: relative;
}
.breadcrumbs-item:not(:last-child)::after {
  display: block;
  width: 6px;
  height: 6px;
  content: "";
  background: url(../img/icons/icon-right-double.svg);
  position: absolute;
  top: 10px;
  right: 7px;
}

/* FILTERS */
.filters {
  margin-bottom: 27px;
}

.filters form {
  width: 905px;
  display: flex;
  flex-wrap: wrap;
}
.filters fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 13px;
}
.filters h2 {
  position: relative;
  bottom: 7px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 19px;
}
.filters legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding-left: 17px;
  margin-bottom: 6px;
}
.filters .filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  background-color: var(--transparent-light);
  border-radius: 20px;
}

/* \ Sort */
.filters-sort .filter-wrapper {
  background-color: var(--transparent-full);
  position: relative;
  width: 196px;
}

.filters-sort svg {
  position: absolute;
  fill: var(--main-color);
  top: 13px;
  right: 14px;
}

.filters-sort-item {
  width: 196px;
  min-height: 36px;
  padding-left: 16px;
  border: none;
  border-radius: 20px;
  background-color: var(--transparent-light);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--main-color);
}

.filters-sort-item:hover ~ svg {
  fill: var(--main-color-dark);
}
.filters-sort-item:hover,
.filters-sort option {
  color: var(--main-color-dark);
}

/* \ price-range */
.price-slider {
  position: relative;
  width: 218px;
  height: 36px;
  padding: 0 21px;
  border-radius: 20px;
  background-color: var(--transparent-light);
}
.price-slider .slider-bar {
  width: 100%;
  height: 2px;
  position: relative;
  top: 50%;
  transform: translateY(-1px);

  background-color: var(--price-slider-range);
}
.slider-bar .slider-bar-range {
  position: relative;
  left: 25px;
  height: 2px;
  width: 60%;
  background-color: var(--main-color);
}
.price-slider .slider-range {
  position: absolute;
  top: 50%;
  transform: translateY(-10px);
  padding: 2px;
  background-color: var(--price-slider-pin);
  border: 8px solid var(--main-color);
  border-radius: 50%;
}

.price-slider .slider-range-min {
  left: 34px;
}
.price-slider .slider-range-min:hover {
  border: 9px solid var(--main-color);
  transform: translateY(-11px);
  left: 33px;
}
.price-slider .slider-range-max {
  right: 66px;
}
.price-slider .slider-range-max:hover {
  border: 9px solid var(--main-color);
  transform: translateY(-11px);
  right: 65px;
}
/* fat amount */
.filters-fat .filter-wrapper {
  width: 425px;
  padding-left: 14px;
  padding-right: 17px;
}

.fat-item label {
  position: relative;
  padding-left: 33px;
}

.fat-item input {
  display: none;
}

/* \\ fat pseudo-inputs */
.fat-label::after {
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: -1px;
  background: url(../img/icons/radio-off.svg);
  background-size: cover;
}

.fat-item input:checked + .fat-label::before {
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: -1px;
  background: url(../img/icons/radio-on.svg);
  background-size: cover;
}

.fat-item input:checked + .fat-label::after {
  display: none;
}

/* \\ addons */
.filters-addons .filter-wrapper {
  width: 710px;
  padding-left: 16px;
  padding-right: 20px;
}

.filters-addons legend {
  margin-bottom: 8px;
}
.addon-item {
  position: relative;
}

.addon-item input {
  display: none;
}
.addon-item label {
  position: relative;
  padding-left: 30px;
}

.addon-label::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  background: url(../img/icons/checkbox-off.svg);
  background-size: cover;
}

.addon-item input:checked + .addon-label::before {
  display: block;
  content: "";
  width: 24px;
  height: 20px;
  position: absolute;
  top: 0;
  background: url(../img/icons/checkbox-on.svg);
  background-size: cover;
}

.addon-item input:checked + .addon-label::after {
  display: none;
}

/* \\\ filter-inputs-hover-focus*/

.fat-item:hover label:after,
.fat-item:hover label:before,
.addon-item:hover label:after,
.addon-item:hover label:before {
  opacity: 0.8;
}

.fat-item input:disabled .fat-label::before,
.fat-item input:disabled .fat-label::after,
.addon-item input:disabled .fat-label::before,
.addon-item input:disabled .fat-label::after {
  opacity: 0.4;
}

/* filter-apply */

.filters button[type="submit"] {
  width: 142px;
  height: 34px;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  color: var(--main-color);
  background: var(--transparent-light);
  align-self: center;
  margin-top: 10px;
}

.filters button[type="submit"]:hover {
  background-color: var(--main-color);
  color: var(--main-color-dark);
}

.filters button[type="submit"]:active {
  background-color: var(--main-color);
  color: var(--main-color-dark);
  box-shadow: inset 0px 2px 1px var(--nav-btn-active-shadow);
}

/* \ page-nav */
.page-number {
  min-width: 194px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.page-number {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pages-nav {
  min-width: 146px;
  display: flex;
  justify-content: space-between;
  height: 26px;
  margin: 0;
  margin-left: 16px;
  margin-right: 16px;
}
.page-number .nav-arrow {
  min-width: 7px;
  height: 12px;
}

.page-number .nav-arrow-prev {
  background-image: url(../img/icons/icon-right-small.svg);

  transform: rotate(180deg);
}

.page-number .nav-arrow-next {
  background-image: url(../img/icons/icon-right-small.svg);
}

.page-number .nav-arrow:hover,
.page-number .nav-arrow:focus {
  outline: none;
  box-shadow: 0 0 2px 2px var(--input-border-focus);
  cursor: pointer;
}

.nav-arrow.link-disabled {
  opacity: 0.2;
}

.pages-nav-item a {
  display: inline-block;
  vertical-align: middle;
  min-width: 18px;
  min-height: 18px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 50%;
  color: var(--main-color);
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

.pages-nav-item:hover {
  background-color: var(--transparent-light);
  border-radius: 50%;
}

.pages-nav-item .current-page-num {
  background-color: var(--main-color);
  color: var(--main-color-dark);
}
